#tokens-output {
    white-space: pre;
    align-content: start;
}

.token {}

.token:hover>span:last-child {
    display: inline;
}

.token>span:last-child {
    display: none;
    color: #888;
}

.token>span:last-child::after,
.token>span:last-child::before {
    font-variant-ligatures: none;
}

.token>span:last-child::before {
    content: "<";
}
.token>span:last-child::after {
    content: ">";
}