#tokens-output {
    white-space: pre;
    align-content: start;
}

.token + .token::before {
    content: " ";
}

#tokens-output>span:not(.token) {
    color: red;
}

.token:has(span:last-child:not(:empty))>span:first-child {
    font-style: italic;
}

.token:hover>span:last-child {
    display: inline;
}

.token>span:last-child {
    display: none;
    color: #888;
}

.token>span:last-child::after,
.token>span:last-child::before {
    font-variant-ligatures: none;
}

.token>span:last-child:not(:empty)::before {
    content: "<"
}
.token>span:last-child:not(:empty)::after {
    content: ">"
}