#tokens-output {
    white-space: pre;
    align-content: start;
}

.token {
    margin: 0 .5ex;
}

#tokens-output :first-child {
    margin-left: 0 !important;
}

#tokens-output :last-child {
    margin-right: 0 !important;
}

#tokens-output>span:not(.token) {
    margin: 0 -.5ex;
}

.token>span:first-child {
    font-style: italic;
}

.token:hover>span:last-child {
    display: inline;
}

.token>span:last-child {
    display: none;
    color: #888;
}

.token>span:last-child::after,
.token>span:last-child::before {
    font-variant-ligatures: none;
}

.token>span:last-child:not(:empty) {
    outline: 1px solid black;
    outline-offset: -.6ex;
    padding: .25ex 1ex;
    margin: -.25ex 0;
}