#grammar, #lexer, #code-input-container {
    padding: 0;
    overflow: hidden;
}

:is(#left, #parse, #code-input-container, #lexer, #grammar) {
    flex-grow: 1;
    transition: flex-grow .5s;
}

:is(#left, #parse, #code-input-container, #lexer, #grammar):focus-within {
    flex-grow: 2;
}

#code-input, #grammar-input, #lexer-input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: auto;
    padding: 5px;
}

#parse-output, #tokens-output {
    user-select: none;
    white-space: pre;
}

#parse-output:empty::before {
    content: "Output will appear here";
    color: #666;
}