.parse-tree-node {
    position: relative;
    width: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parse-tree-node span {
    background-color: white;
    width: fit-content;
}

.parse-tree-node>div:has(.parse-tree-node>div:not(:empty))>:is(.token:first-child, .parse-tree-node + .token) {
    margin-left: 1em;
}

.parse-tree-node:has(>span+div:not(:empty)) {
    padding-bottom: 1em;
    padding-right: 1em;
}

.parse-tree-node:has(>span+div:not(:empty))::before {
    content: "";
    width: calc(100%);
    height: calc(100% - 1.25em);
    outline: 1px solid #ddd;
    top: .7em;
    left: .6em;
    display: block;
    position: absolute;
    z-index: -10;
}

.parse-tree-node:has(>div:empty)>span>input {
    display: none;
}

.parse-tree-node>div:has(>.parse-tree-node>div:not(:empty))>.parse-tree-node:has(>div:empty) {
    margin-left: 1em;
}

.parse-tree-node:has(>div:empty)>span::after {
    content: " (ε)";
    color: #aaa;
}

.parse-tree-node:not(:has(>div:empty))>span {
    padding-left: 1em;
    padding-right: .5ex;
}

.parse-tree-node>div:last-child {
    padding-left: 1em;
}

.parse-tree-node input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;

    margin: 0;
}
.parse-tree-node input[type=checkbox]::before {
    content: '';
    width: 0;
    height: 0;

    border: .334em solid transparent;

    display: block;
    position: absolute;
    top: .334em;
    left: .3em;
}

.parse-tree-node input[type=checkbox]:not(:checked)::before {
    border-left-color: black;
    transform: translateX(.167em);
}

.parse-tree-node input[type=checkbox]:checked::before {
    border-top-color: black;
    transform: translateY(.167em);
}

.parse-tree-node:has(>span>input[type=checkbox]:not(:checked))>div:last-child {
    display: none;
}
